body {
  background-color: rgb(208, 238, 250);
  display: flex;
  justify-content: space-around;
}

#main {
  background-color: white;
  width: 740px;
  border-radius: 5px;
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.close {
  position: relative;
  display: right;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: black;
}

.close:after {
  content: "\00d7";
  font-size: 50pt;
  line-height: 35px;
}

.feelings {
  text-align: center;
  font-family: "Hi Melody";
  font-size: 30px;
  font-weight: 700;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  filter: grayscale(1);
  cursor: pointer;
}

.form_feeling input[type="radio"]:checked+label {
  filter: grayscale(0);
  font-weight: bold;
}

.form_feeling {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  margin-top: 0;
  font-family: "Hi Melody";
  font-weight: 700;
  font-size: 18px;
}

.img_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  font-family: "Hi Melody";
  font-weight: 500;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(77, 77, 77);
  color: #fff;
}

.btn_box {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 20%;
  border-radius: 20px;
  background-color: white;
  border: 3px solid skyblue;
  cursor: pointer;
  padding: 8px;
  font-family: "Hi Melody";
  font-size: 25px;
  font-weight: 700;
  box-shadow: 3px 3px gray;
}

fieldset {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: skyblue;
  color: white;
}

.txt {
  border-radius: 4px;
  font-size: 20px;
}

.txt_diary {
  width: 685px;
  height: 200px;
  font-size: 24px;
  font-family: "KyoboHand";
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.uploadBtn {
  font-family: "Hi Melody";
  font-size: 25px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid skyblue;
  font-weight: 600;
  cursor: pointer;
  width: 90px;
  padding: 6px;
  box-shadow: 3px 3px gray;
}

.uploadBtn:hover {
  background-color: skyblue;
  color: white;
}