<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
=======

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/diary.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
>>>>>>> dev

    <title>Document</title>

    <body>
      <main class="main-css">
        <div class="top">
          <nav>
            <img class="top-logo" src="./image/dailylogo3.png" />
            <fieldset>
              <label>
                <input
                  type="radio"
                  name="page"
                  value="dairy"
                  id="dairy-radio"
                />
                <span>Diary</span>
              </label>
              <label>
                <input
                  type="radio"
                  name="page"
                  value="todocalendar"
                  id="todo-radio"
                />
                <span>ToDo</span>
              </label>
            </fieldset>
            <img src="../image/total.png" class="total-img" />
          </nav>
        </div>

        <table class="Calendar">
          <thead>
            <tr>
              <td onClick="prevCalendar();" style="cursor: pointer">&#60;</td>
              <td colspan="5">
                <span id="calYear"></span>년 <span id="calMonth"></span>월
              </td>
              <td onClick="nextCalendar();" style="cursor: pointer">&#62;</td>
            </tr>
            <tr>
              <td>일</td>
              <td>월</td>
              <td>화</td>
              <td>수</td>
              <td>목</td>
              <td>금</td>
              <td>토</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>

        <div class="hi box">
          <div><img src="../image/dailylogo3.png" class="diaryimg" /></div>
          <div class="show-month-day">
            <span id="Monthshow">00월</span><span id="Dayshow"> 00일</span>
          </div>
          <div class="hiline">
            <div class="modify-box">
              <img
                class="modify1"
                src="../image/updateimg.png"
                onclick="updateClick()"
              />
              <img
                class="modify2"
                src="../image/deleteimg.png"
                onclick="deleteClick()"
              />
            </div>
            <div class="diary-text">
              안녕하세요 오늘은 소고기를 먹고 친구도 만나고 아주 줄거운
              하루~~안녕하세요 오늘은 소고기를 먹고 친구도 만나고 아주 줄거운
              하루~~안녕하세요 오늘은 소고기를 먹고 친구도 만나고 아주 줄거운
              하루~~
            </div>
            <div class="dairyimg-box">
              <div><img src="../image/food.jfif" class="dairybox1" /></div>
              <div><img src="../image/meet.jfif" class="dairybox2" /></div>
              <div><img src="../image/meet.jfif" class="dairybox3" /></div>
            </div>
          </div>
        </div>

        <div class="bottom">
          <div class="bottom-item1">달력보기</div>
          <img class="write-button" src="../image/emotion2.png" />
          <div class="bottom-item2">타임라인</div>
        </div>
      </main>
    </body>
    <script>
      const currentPath = window.location.pathname;
      var dairyradio = document.getElementById("dairy-radio");
      var todoradio = document.getElementById("todo-radio");

      if (currentPath === "/dairy") {
        const dairyRadio = document.getElementById("dairy-radio");
        dairyRadio.checked = true;
      }

<<<<<<< HEAD
      const radioButtons = document.querySelectorAll(
        'input[type="radio"][name="page"]'
      );

      // 라디오 버튼 변경 시 페이지 이동 함수
      function handleRadioChange() {
        if (this.checked) {
          const pageValue = this.value;
          window.location.href = pageValue; // 페이지 변경을 위한 URL 이동
        }
      }

      // 라디오 버튼에 이벤트 리스너 추가
      radioButtons.forEach((button) => {
        button.addEventListener("change", handleRadioChange);
        dairyradio.addEventListener("click", function () {
          dairyradio.checked = true;
        });
        todoradio.addEventListener("click", function () {
          todoradio.checked = true;
        });
      });

      function updateClick() {
        console.log("수정하세요");
      }
      function deleteClick() {
        console.log("삭제하세요");
      }

      window.onload = function () {
        buildCalendar();
      }; // 웹 페이지가 로드되면 buildCalendar 실행
      let newDIV = document.createElement("p");

      let nowMonth = new Date(); // 현재 달을 페이지를 로드한 날의 달로 초기화
      let today = new Date(); // 페이지를 로드한 날짜를 저장
      today.setHours(0, 0, 0, 0); // 비교 편의를 위해 today의 시간을 초기화
      const calMonth = document.getElementById("calMonth");

      // 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
      function buildCalendar() {
        let firstDate = new Date(
          nowMonth.getFullYear(),
          nowMonth.getMonth(),
          1
        ); // 이번달 1일
        let lastDate = new Date(
          nowMonth.getFullYear(),
          nowMonth.getMonth() + 1,
          0
        ); // 이번달 마지막날

        let tbody_Calendar = document.querySelector(".Calendar > tbody");
        document.getElementById("calYear").innerText = nowMonth.getFullYear(); // 연도 숫자 갱신
        document.getElementById("calMonth").innerText = leftPad(
          nowMonth.getMonth() + 1
        ); // 월 숫자 갱신

        while (tbody_Calendar.rows.length > 0) {
          // 이전 출력결과가 남아있는 경우 초기화
          tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
        }

        let nowRow = tbody_Calendar.insertRow(); // 첫번째 행 추가

        for (let j = 0; j < firstDate.getDay(); j++) {
          // 이번달 1일의 요일만큼
          let nowColumn = nowRow.insertCell(); // 열 추가
        }

        for (
          let nowDay = firstDate;
          nowDay <= lastDate;
          nowDay.setDate(nowDay.getDate() + 1)
        ) {
          // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복

          let nowColumn = nowRow.insertCell(); // 새 열을 추가하고

          let newDIV = document.createElement("p");
          newDIV.innerHTML = leftPad(nowDay.getDate()); // 추가한 열에 날짜 입력
          nowColumn.appendChild(newDIV);

          let newIMG = document.createElement("img");
          newIMG.append("");

          if (nowDay.getDay() == 6) {
            // 토요일인 경우
            nowRow = tbody_Calendar.insertRow(); // 새로운 행 추가
          }

          if (nowDay < today) {
            // 지난날인 경우
            newDIV.className = "pastDay";
            newDIV.onclick = function () {
              choiceDate(this);
            };
          } else if (
            nowDay.getFullYear() == today.getFullYear() &&
            nowDay.getMonth() == today.getMonth() &&
            nowDay.getDate() == today.getDate()
          ) {
            // 오늘인 경우
            newDIV.className = "today";
            newDIV.onclick = function () {
              choiceDate(this);
            };
          } else {
            // 미래인 경우
            newDIV.className = "futureDay";
            newDIV.onclick = function () {
              notDate(this);
            };
          }
        }
      }

      //작성불가 날짜
      function notDate(newDiv) {
        if (document.getElementsByClassName("choiceDay")[0]) {
          // 기존에 선택한 날짜가 있으면
          document
            .getElementsByClassName("choiceDay")[0]
            .classList.remove("choiceDay"); // 해당 날짜의 "choiceDay" class 제거
        }
        newDIV.classList.add("choiceDay"); // 선택된 날짜에 "choiceDay" class 추가
        alert("미래일기는 쓸 수 없어요!");
      }

      // 날짜 선택
      function choiceDate(newDIV) {
        if (document.getElementsByClassName("choiceDay")[0]) {
          // 기존에 선택한 날짜가 있으면
          document
            .getElementsByClassName("choiceDay")[0]
            .classList.remove("choiceDay"); // 해당 날짜의 "choiceDay" class 제거
        }
        newDIV.classList.add("choiceDay"); // 선택된 날짜에 "choiceDay" class 추가
        //location.href = "/todo";
        console.log(newDIV.innerText);
        console.log(calYear.innerText);
        console.log(calMonth.innerText);
        localStorage.setItem("calYear", calYear.innerText);
        localStorage.setItem("calMonth", calMonth.innerText);
        localStorage.setItem("calDay", newDIV.innerText);
        document.getElementById(
          "Monthshow"
        ).innerText = `${calMonth.innerText}월`;
        document.getElementById("Dayshow").innerText = `${newDIV.innerText}일`;
      }

      // 이전달 버튼 클릭
      function prevCalendar() {
        nowMonth = new Date(
          nowMonth.getFullYear(),
          nowMonth.getMonth() - 1,
          nowMonth.getDate()
        ); // 현재 달을 1 감소
        buildCalendar(); // 달력 다시 생성
      }
      // 다음달 버튼 클릭
      function nextCalendar() {
        nowMonth = new Date(
          nowMonth.getFullYear(),
          nowMonth.getMonth() + 1,
          nowMonth.getDate()
        ); // 현재 달을 1 증가
        buildCalendar(); // 달력 다시 생성
      }

      // input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
      function leftPad(value) {
        if (value < 10) {
          value = "0" + value;
          return value;
        }
        return value;
      }
    </script>
  </head>
</html>
=======
</body>
<script src="/public/js/dairy.js"></script>
</head>



</html>
>>>>>>> dev
