<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>write diary</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="diary.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Lora&family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <header>
        <div class="top">
          <div></div>
          <div class="date">6월 5일</div>
          <a href="/" class="close"></a>
        </div>
      </header>
      <hr />
      <form
        name="feeling_form"
        class="form_feeling"
        enctype="multipart/form-data"
      >
        <fieldset>
          <div class="feelings">오늘의 기분</div>
          <br />
          <div class="top">
            <input type="radio" name="feeling" id="happy" value="1" />
            <label for="happy">
              <img
                src="/feel/happy.png"
                width="100px"
                height="100px"
                alt="happy"
              />
            </label>
            <input type="radio" name="feeling" id="good" value="2" />
            <label for="good">
              <img
                src="/feel/good.png"
                width="100px"
                height="100px"
                alt="good"
              />
            </label>
            <input type="radio" name="feeling" id="soso" value="3" />
            <label for="soso">
              <img
                src="/feel/soso.png"
                width="100px"
                height="100px"
                alt="soso"
              />
            </label>
            <input type="radio" name="feeling" id="not_bad" value="4" />
            <label for="not_bad">
              <img
                src="/feel/not_bad.png"
                width="100px"
                height="100px"
                alt="notbad"
              />
            </label>
            <input type="radio" name="feeling" id="bad" value="5" />
            <label for="bad">
              <img src="/feel/bad.png" width="100px" height="100px" alt="bad" />
            </label>
          </div>
        </fieldset>
        <br />
        <fieldset>
          <div class="feelings">오늘의 사진</div>
          <br />
          <div class="img_upload">
            <input
              type="file"
              name="uploadfile"
              id="upload"
              onchange="readURL(this)"
            />
            <br />
            <button type="button" onclick="fileUpload()" class="uploadBtn">
              업로드
            </button>
          </div>
          <br />
          <img id="img" src="" width="200" name="img" />
        </fieldset>
        <br />
        <fieldset>
          <div class="feelings">오늘의 일기</div>
          <br />
          <div class="txt">
            <textarea id="diary_write" name="diary_write" class="txt_diary">
            </textarea>
          </div>
        </fieldset>
        <br />
        <div class="btn_box">
          <button class="btn" type="button" onclick="sendDiary()">
            작성 완료
          </button>
        </div>
        <br />
      </form>
    </div>
    <script>
      const form = document.forms.feeling_form;
      fillDiaryIfExist();
      async function fillDiaryIfExist() {
        const apiUrl = getApiUrl();
        const res = await fetch(apiUrl);
        if(res.ok){
          const data = await res.json();
          if(!data.content) return;
          console.log(data);
          form.feeling.value = data.emotion_id;
          form.diary_write.value = data.content;
          form.img.src = data.image;
        }
      }

      async function sendDiary() {
        const apiUrl = getApiUrl();
        fileUpload();
        const res = await axios({
          method: "POST",
          url: apiUrl,
          data: {
            emotion: Number(form.feeling.value),
            content: form.diary_write.value,
          }
        })
        console.log(res);
        window.location.href = window
          .location
          .pathname
          .substring(0, window.location.pathname.lastIndexOf("/"));
      }

      //이미지 파일 업로드 코드
      async function fileUpload() {
        const formData = new FormData();
        const file = document.getElementById("upload");
        if (!file.files[0]) {
          return;
        }
        const uploadUrl = getUploadUrl();
        console.log(uploadUrl);
        formData.append("upload", file.files[0]);

        const res = await axios({
          method: "POST",
          url: uploadUrl,
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
        return url;
      }

      //이미지 파일 미리보기 코드
      function readURL(input) {
        if (input.files) {
          var reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("img").src = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
        } else {
          document.getElementById("img").src = "";
        }
      }

      function getApiUrl() {
        const paths = window.location.pathname.split("/")
        paths.pop()
        paths.unshift("api")
        const apiUrl = "/" + paths.join("/");
        return apiUrl;
      }

      function getUploadUrl() {
        const paths = window.location.pathname.split("/").slice(2, -1);
        const apiUrl = "/" + ["api", "upload"].concat(paths).join("/");
        return apiUrl;
      }
    </script>
  </body>
</html>
