<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>그날의 하늘</title>
    </head>
    <body>
        <div class="">
            <a class="" href="/">그날의 하늘</a>
        </div>
        <div class="">
            <h3>Welcome</h3>
            <button class="" onclick="login()">로그인</button>
            <button class="" onclick="signup()">회원가입</button>
        </div>
      <button class="" onclick="wirte()">다이어리쓰기</button>

        <script>
            function signup() {
                location.href = '/signup';
            }
            function login() {
                location.href = '/login';
            }
        </script>
    </body>
      function wirte() {
        location.href = "/diary_write";
      }
</html>
