<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/react-infinite-calendar/styles.css">
<title>Monthly</title>
</head>
<body>

<main></main>

<!-- <script crossorigin src="https://unpkg.com/react@18/umd/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/prop-types@15.8.1/prop-types.min.js"></script>
<script src="https://unpkg.com/react-infinite-calendar/umd/react-infinite-calendar.min.js"></script>
<script type="text/babel">
"use strict"

const main = document.querySelector("main");
const InfiniteCalendar = window.InfiniteCalendar.default;
ReactDOM.createRoot(main).render(<InfiniteCalendar />)
</script> -->
</head>

</html>