<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <style>
    li:has(input:checked) {
      color: #dddddd;
    }
  </style>
</head>

<body>
  <main>
    <h1>투두리스트 초안</h1>
    <form id="todoForm">
      <input type="text" placeholder="새로운 할 일" name="todo" required />
      <button type="submit"><b>추가</b></button>
    </form>
    <section>
      <ul id="todoList"></ul>
      <button id="clear">모두 삭제</button>
    </section>
  </main>

  <script src="/public/todo.js"></script>
</body>

</html>