<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/style/todo/daily.css" />
  </head>

  <body>
    <div class="main">
      <header>
        <div class="top">
          <div>
            <a href="/"
              ><img
                src="/public/images/home.png"
                width="40"
                height="40"
                class="home"
                alt="home"
            /></a>
          </div>
          <div class="list">
            <%= year %>년 <%= month %>월 <%= date %>일 ToDo
          </div>
          <a href="/" class="close"></a>
        </div>
      </header>
      <hr />
      <br />
      <form id="todoForm" name="todoForm">
        <div></div>
        <img
          src="/public/images/questionnaire.png"
          width="30px"
          height="30px"
          alt=""
        />
        <input
          type="text"
          id="txt"
          placeholder="새로운 할 일"
          name="todo"
          required
        />
        <button type="submit" id="add" class="btnsub">추가</button>
        <button type="button" class="btncom" id="complete">완료</button>
      </form>
      <section>
        <div class="todolist">
          <ul id="todoList"></ul>
          <div class="btnclear">
            <button type="button" id="clear">모두 삭제</button>
          </div>
        </div>
      </section>
    </div>

    <script src="/public/js/todo/daily.js"></script>
  </body>
</html>
