body {
  background-color: rgb(161, 181, 215);
  display: flex;
  justify-content: space-around;
}
fieldset {
  width: 650px;
  border-radius: 15px;
  background-color: white;
  border-color: white;
  margin: 10px;
}
main {
  margin: auto;
  max-width: 740px;
  background-color: #c9dcff;
  width: 742px;
  height: 100%;
  border-radius: 15px;
}
.daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  width: 40px;
  height: 40px;
}
.top {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  margin-left: 10px;
  font-family: "ImcreSoojin";
  font-size: 27px;
}
.list {
  font-family: "ImcreSoojin";
  font-size: 23px;
}
.todo-img {
  width: 30px;
  height: 30px;
}

.close {
  margin-left: auto;
  text-decoration: none;
  color: black;
  font-size: 45pt;
}

.close:after {
  position: relative;
  margin-left: auto;

  text-decoration: none;
  content: "\00d7";
  font-size: 50pt;
  line-height: 55px;
}
#txt {
  width: 500px;
  height: 25px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  padding: 5px;
  margin: 5px;
  font-family: "ImcreSoojin";
}
#txt:focus {
  border-bottom: 3px solid black;
}
section {
  background-color: white;
  margin: 0px 10px 0px 10px;
}

#todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin: 5px;
  padding-left: 20px;
}
li {
  margin: 10px;
}

.td {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.3em;
  font-family: "ImcreSoojin";
  padding-left: 30px;
}

.delete {
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 11px;
  padding: 0px 4px 1px 4px;
}
.btnclear {
  padding-left: 45px;
}
#clear {
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-family: "ImcreSoojin";
}
#clear:hover {
  background-color: red;
  color: white;
  box-shadow: 2px 2px gray;
}
.btnsub {
  width: 48px;
  height: 48px;
  font-size: 15px;
  background-color: #b4b4ff;
  border-radius: 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-family: "ImcreSoojin";
}
.btnsub:hover {
  border: 4px solid #4b4bf4;
  box-shadow: 2px 2px black;
}
.btncom {
  width: 48px;
  height: 48px;
  font-size: 15px;
  background-color: #7e7eff;
  border-radius: 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-family: "ImcreSoojin";
}
.btncom:hover {
  border: 4px solid #4848fc;
  box-shadow: 2px 2px black;
}
.todo-comment {
  float: left;
}
.comment {
  float: right;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "ImcreSoojin";
  border: none;
}
.comment-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}
label {
  font-family: "ImcreSoojin";
  font-size: 20px;
}
.toggle {
  border: none;
  font-family: "KyoboHand";
  width: 500px;
  height: 20px;
  outline: 0;
  font-size: 17px;
  font-weight: 400;
  margin-right: 10px;
  resize: none;
}

input[type="checkbox"] {
  /* 둥글게 */
  border-radius: 50%;
  -moz-appearance: none;
  appearance: none;
  /* 기본 크기 지정 */
  width: 20px;
  height: 20px;
  /* 기본 배경색 지정 */
  background-color: #fff;
  border: 1px solid rgb(70, 71, 72);
}
input[type="checkbox"]:checked {
  border: 1px solid rgb(161, 181, 215);

  background-color: rgb(161, 181, 215);
}

@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
