body {
  background-color: rgb(160, 187, 237);
  display: flex;
  justify-content: space-around;
}
.main {
  margin: auto;
  max-width: 740px;
  background: #ffffff;
  width: 742px;
  height: 900px;
  border-radius: 5px;
}
.home {
  margin-left: 5px;
}
.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.list {
  font-family: "ImcreSoojin";
  font-size: 23px;
}
.close {
  position: relative;
  display: right;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: black;
}
.close:after {
  content: "\00d7";
  font-size: 50pt;
  line-height: 35px;
}
#txt {
  width: 430px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  margin-right: 30px;
  padding: 5px;
  font-family: "ImcreSoojin";
}
#txt:focus {
  border-bottom: 3px solid black;
}
section {
  background-color: white;
  margin-top: 10px;
  padding: 10px 40px 10px 0px;
}

ul {
  list-style: none;
}
#todoForm {
  padding-left: 60px;
}
.td {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.3em;
  font-family: "ImcreSoojin";
  padding-left: 30px;
}

.delete {
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 11px;
  padding: 0px 4px 1px 4px;
}
.btnclear {
  padding-left: 45px;
}
#clear {
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-family: "ImcreSoojin";
}
#clear:hover {
  background-color: red;
  color: white;
  box-shadow: 2px 2px gray;
}
.btnsub {
  width: 48px;
  height: 48px;
  font-size: 15px;
  background-color: #b4b4ff;
  border-radius: 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-family: "ImcreSoojin";
}
.btnsub:hover {
  border: 4px solid #4b4bf4;
  box-shadow: 2px 2px black;
}
.btncom {
  width: 48px;
  height: 48px;
  font-size: 15px;
  background-color: #7e7eff;
  border-radius: 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-family: "ImcreSoojin";
}
.btncom:hover {
  border: 4px solid #4848fc;
  box-shadow: 2px 2px black;
}
.todo-comment {
  float: left;
}
.comment {
  float: right;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "ImcreSoojin";
  border: none;
}
.toggle {
  border: none;
  font-family: "KyoboHand";
  width: 100%;
  height: 20px;
  margin-top: 13px;
  outline: 0;
  font-size: 17px;
  font-weight: 400;
  margin-left: 20px;
}
.toggle:focus {
  border-bottom: 2px solid black;
}
li {
  margin-top: 15px;
}
@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
