@import url("../index.css");

body {
  background-color: rgb(161, 181, 215);
  display: flex;
  justify-content: space-around;
}

fieldset {
  width: 650px;
  border-radius: 15px;
  background-color: white;
  border-color: white;
  margin: 10px;
}

main {
  margin: auto;
  max-width: 740px;
  background-color: #c9dcff;
  width: 742px;
  height: 100%;
  border-radius: 15px;
}

.daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  width: 40px;
  height: 40px;
}

.top {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-left: 190px;
  font-family: "ImcreSoojin";
  font-size: 27px;
}

.list {
  font-family: "ImcreSoojin";
  font-size: 23px;
}

.todo-img {
  width: 30px;
  height: 30px;
}

.close {
  margin-left: auto;
  text-decoration: none;
  color: black;
  font-size: 45pt;
}

.close:after {
  position: relative;
  margin-left: auto;

  text-decoration: none;
  content: "\00d7";
  font-size: 50pt;
  line-height: 55px;
}

#txt {
  width: 500px;
  height: 25px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  padding: 5px;
  margin: 5px;
  font-family: "ImcreSoojin";
  border-radius: 5px;
}

#txt:focus {
  border-bottom: 3px solid black;
}

section {
  background-color: white;
  margin: 0px 10px 0px 10px;
}

#todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-div {
  margin-right: 10px;
}

.feel-box {
  /* 위치를 범위에서 제일 왼쪽으로  */
  margin-right: auto;
  align-items: center;

  width: 35px;
  height: 35px;
}

ul {
  list-style: none;
  margin: 5px;
  padding-left: 20px;
}

li {
  margin-top: 10px;
  margin-right: 10px;
}

.td {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.3em;
  font-family: "ImcreSoojin";
  padding-left: 30px;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: white;
  margin-left: -7px;
}

.btnclear {
  padding-left: 45px;
  margin-top: 40px;
}

#clear {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-family: "ImcreSoojin";
}

#clear:hover {
  background-color: red;
  color: white;
  box-shadow: 2px 2px gray;
}

#add {
  width: 60px;
  height: 60px;
  font-size: 22px;
  background-color: #b4b4ff;
  border-radius: 31px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-family: "ImcreSoojin";
  box-shadow: 3px 3px 3px black;
}

#add:active {
  border: 4px solid #4b4bf4;
  box-shadow: 0px 0px black;
}

.todo-comment {
  float: left;
}

.comment {
  float: right;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "ImcreSoojin";
  border: none;
}

.comment-edit {
  cursor: pointer;
  border-radius: 10px;
  font-size: 13px;
  float: right;
  margin-right: 6px;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 700;
  background-color: rgb(255, 230, 160);
  box-shadow: 2px 2px black;
}

.comment-edit:active {
  box-shadow: 0px 0px black;
}

.comment-delete {
  cursor: pointer;
  border-radius: 10px;
  font-size: 13px;
  float: right;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 700;
  background-color: rgb(255, 178, 178);
  box-shadow: 2px 2px black;
}

.comment-delete:active {
  box-shadow: 0px 0px black;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  margin: 15px 15px 15px 25px;
  font-family: "KyoboHand";
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  margin: 15px 15px 15px 25px;
  font-family: "KyoboHand";
}

label {
  font-family: "ImcreSoojin";
  font-size: 20px;
}

.toggle {
  border: none;
  font-family: "KyoboHand";
  width: 500px;
  height: 20px;
  outline: 0;
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  resize: none;
}

input[type="checkbox"] {
  /* 둥글게 */
  border-radius: 50%;
  -moz-appearance: none;
  appearance: none;
  /* 기본 크기 지정 */
  width: 20px;
  height: 20px;
  /* 기본 배경색 지정 */
  background-color: #fff;
  border: 1px solid rgb(70, 71, 72);
}

input[type="checkbox"]:checked {
  border: 1px solid rgb(161, 181, 215);

  background-color: rgb(161, 181, 215);
}

.comment_submit {
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "ImcreSoojin";
  height: 29px;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: #c4ccf8;
  text-align: center;
  border: none;
  box-shadow: 3px 3px 3px black;
}

.comment_submit:hover {
  border: 4px solid #4146eb;
  box-shadow: 0px 0px black;
}

.edit {
  border: none;
  cursor: pointer;
  background-color: white;
}

.edit:hover {
  border: 2px solid rgb(255, 218, 178);
  border-radius: 10px;
  filter: drop-shadow(2px 2px black);
}

.comment:hover {
  box-shadow: 2px 2px rgb(47, 47, 47);
  color: rgb(39, 183, 255);
  border-radius: 10px;
}

.img-box {
  width: 150px;
}

.edit-btn {
  width: 25px;
  height: 25px;
}

@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}